<div class="left">
  <div class="title">
    <h1>Feel free</h1>
    <h1>to <span class="blue">reach</span> out</h1>
  </div>
  <div class="content">
    <p>
      You can contact me for web development projects, collaborations, or any
      inquiries. Always open to new challenges, I enjoy turning ideas into
      functional and innovative solutions. Let’s connect and create something
      great together!
    </p>
  </div>
</div>
<div class="right">
  <div class="right-placement">
    <app-contact-form></app-contact-form>
  </div>
</div>
